<style>
:root {
    --color-primary: #5D4037;
    --color-velvet: #3E2723;
    --color-accent: #C7A96B;
    --color-bg-light: #FBF7F1;
    --color-text-light: #F4E9D6;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--color-velvet);
    color: var(--color-text-light);
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
    opacity: 0.15; 
    z-index: -1;
}

nav {
    width: 100%;
    background: #C9ADA6; 
    padding: 16px 0;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.3); 
    backdrop-filter: blur(5px);
    z-index: 1000;
}

nav a {
    color: var(--color-primary); 
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s;
    position: relative;
}

/*(HOVER DAN ACTIVE) */
nav a::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 3px; 
    /* WARNA BARU: Baldu Gelap */
    background-color: var(--color-velvet); 
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%; 
}
nav a:hover {
    color: var(--color-velvet); 

}
.active-page::after {
    width: 100% !important; 
}
.home-btn {
    background: var(--color-accent);
    color: var(--color-velvet) !important;
    padding: 10px 22px;
    border-radius: 25px;
}

.container {
    max-width: 1200px;
    margin: 100px auto 80px;
    padding: -20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px; 
    font-weight: 700;
    color: var(--color-text-light);
    text-align: center;
    border-bottom: 3px solid var(--color-accent);
    padding-bottom: 10px;
}

.main-family-photo img {
    max-width: 850px;
    width: 100%;
    border-radius: 25px;
    border: 6px solid var(--color-accent);
    margin-bottom: -60px;
    margin-top: -60px;
}

.family-grid { display: flex; flex-direction: column; gap: 80px; width: 100%; align-items: center; }
.family-row { display: flex; justify-content: center; gap: 10px; flex-wrap: wrap; }

.family-card {
    width: 550px;
    background: var(--color-bg-light);
    border-radius: 22px;
    text-align: left;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    border: 3px solid var(--color-primary);
    display: flex;
    align-items: center;
    gap: 20px;
}

.family-card img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--color-accent);
    background: white;
}

.member-text { flex-grow: 1; }

.family-card h3 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
    color:  #3E2723;
}

.name strong { font-size: 24px; color: #5D4037; }
.age strong { font-size: 24px; color: #5D4037; }
.occupation strong { font-size: 24px; color: #5D4037; }

@media (max-width: 768px) {
    .family-card { flex-direction: column; width: 85%; text-align: center; padding: 20px 10px; }
    .family-card img { width: 120px; height: 120px; margin-bottom: 10px; }
    .family-card h3, .name strong, .age strong, .occupation strong { text-align: center; }
}
